---
layout: page
title: CustoSat Commerce - Redefining Ecommerce with innovative products that touch the lives of millions of customers
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">INNOVATIVE PRODUCTS <br> THAT DELIVER THE GREATEST CUSTOMER SATISFACTION</h1>
          <p class="animated fadeInUp">We understand our customers' needs for beauty, self-esteem and joy. We invent and invest into products that change their lives.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>We live in a world of me-too products. We put up with the ordinary. We pay good money for bad products that don't last a lifetime. CustoSat was founded with the vision to change that reality.</p>
          </div>
          <p>CustoSat Commerce creates and delivers great products that touch consumer's lives in subtle and obvious ways. Whether it is beauty products or baby products, CustoSat brands offer the greatest Customer Satisfaction for customers to make their lives better.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Health and Beauty - Our health and beauty are our most precious assets. CustoSat offers a range of beauty products to help customers improve their health and become more beautiful than ever before.</p>
      <p>Baby Products - Our babies ensure our future. Almost everything we do, we do for our children. CustoSat delivers kids products that entertain them, make parents lives better, provide soul-touching joy and happiness.</p>
      <p>Feel Good - CustoSat recently launched it latest line of Feel Good lifestyle products. These products are designed to help us feel good about ourselves, our environment, our homes and our workplace.</p>
      <p>Customer Satisfaction - The underlying principle of all these product lines is the same. Customer Satisfaction.</p>
<!--      <a href="#" class="btn btn-view-works">Check out our Products</a> -->
    </div>
  </div>
</div>
</section>

<!-- Brands Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Brands</h2>
        <p>Our brands are designed to transport you to utopia, make your children pink and beautiful, and embarrass Cleopatra with your beauty. Seriously!</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
<!--          <i class="icon ion-coffee"></i> -->
        <img src=img/19againlogo.png width=50%>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
<!--          <i class="ion-compass"></i> -->
          <img src=img/teenietots-logo.png width=50%>        
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
<!--          <i class="ion-image"></i> -->
          <img src=img/litbeauty-logo.png width=50%>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
<!--          <i class="ion-bug"></i> -->
          <img src=img/momlove-logo.png width=50%>          
        </div>
      </div>

      <div class="w-100"></div>
      
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
<!--          <i class="icon ion-coffee"></i> -->
          <h4>Nineteen Again</h4>
          <p>Remember what you felt like when you were nineteen? Well, you can be nineteen again.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
<!--          <i class="ion-compass"></i> -->
          <h4>Teenie Tots</h4>
          <p>Our teenie tots are beautiful. Our teenie tots touch our soul. Shouldn't our teenie-tots get the best of everything?</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
<!--          <i class="ion-image"></i> -->
          <h4>LitBeauty</h4>
          <p>Just cause you are beautiful doesn't mean that you can't get more beautiful. Get lit with LitBeauty</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
<!--          <i class="ion-bug"></i> -->
          <h4>MomLove</h4>
          <p>Moms need love just like Moms give love. MomLove makes it possible.</p>
        </div>
      </div>

      
      
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful products that blow our customers away with their functionality and value.</h2>
          <p>Our brands are available on Amazon, Shopify and white-labeled by other brands. Check out our brands and our line extensions online.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Check out our story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Secrets of CustoSat</h2>
        <p>Once upon a time, not very long ago, a couple of friends got together and asked, Why? Why shouldn't we get great products for great value? Why shouldn't we aspire for the impossible for our customers? And thus was born CustoSat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %} 
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
